.login_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.login_image {
  width: 35%;
  height: 100%;
  object-fit: cover;
}

.login_form {
  margin: 0px 20px;
}
.login_button {
  width: 370px;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  padding: 14px 10px;
  border: 1px solid grey;
  margin: 15px 0px;
  background-color: #5782bb;
  font-family: "inter";
  font-weight: 600;
  font-size: 20px;
  padding: 18px 10px;
}
.login_form h1 {
  color: inherit;
  font-size: 30px;
  font-family: "Inter";
  text-align: justify;
  font-weight: 600;
  color: #5782bb;
}
.login_form p {
  color: inherit;
  font-size: 18px;
  font-family: "Inter";
  text-align: justify;
  padding: 14px 0px;
}
.already_have {
  color: grey;
  text-align: center;
  margin: auto;
  font-size: 14px;
}

.login_buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.social_icon {
  border: 1px solid rgb(165, 164, 164);
  padding: 15px;
  border-radius: 50%;
}
.or {
  text-align: center;
}
.or_option {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .login_image {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1200px) {
  .login_image {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1000px) {
  .login_container {
    flex-direction: column;
  }
  .login_image {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .login_container {
    flex-direction: column;
  }
  .login_image {
    display: none;
  }
  .input_component {
    width: 90% !important;
    margin: 0px 20px;
  }

  .login_button {
    width: 90% !important;
  }
  .already_have{
    font-size: 14px;

  }
}
