.form_component_container {
  width: 100vw;
}
.form_component {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form_component h1 {
  font-family: "Inter";
  font-weight: 500;
  padding: 10px 0px;
  text-align: center;
}

.actual_form {
  width: 70%;
  background-color: #fffeec;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px 0px;
}
.submit_form {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 15px 30px;
  width: 300px;
  border-radius: 30px;
  border: 1px solid rgb(172, 170, 170);
  margin: 20px 0px;
  background-color: #fffeec;
  font-size: 20px;
}

@media screen and (max-width: 1400px) {
  .form_component {
    width: 90% !important;
  }
  .form_input_compo {
    width: 40% !important;
    display: flex;
    gap: 20px;
  }
  .actual_form {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .form_input_compo {
    width: 35% !important;
  }
}
