.form_component {
  width: 70%;
  border: none;
  outline: none;
  background-color: #FFFEEC;
  margin: auto;
  font-family: 'Inter';
  font-weight: 300;
}
.form_input_compo {
  width: 35%;
  border: 1px solid grey;
  padding: 15px 20px;
  border-radius: 30px;
}
 
