.input_component {

  width: 350px;
  border-radius: 40px;
  color: grey;
  font-size: 15px;
  padding: 18px 0px 18px 20px;
  border: 1px solid grey;
  margin: 20px 0px;
  font-family: "inter";
}
.login_icon{
    color: grey;
    margin-left: 20px;
}
.input_field{
  border: none;
  width: 80%;
}
.input_field:focus{
  border: none;
  width: 80%;
  outline: none;
}
