.heading_component{
    margin: 30px 0px;

}

.heading_component_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform:uppercase;
  line-height: 10px;
  margin-top: 30px;
}
.heading_component_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform:uppercase;
}
.text_1{
    color: black;
    font-weight: 600;
    
}
.text_2{
    color:#5782bb;
    font-weight: 600;

}
.text_3{
    color: black;
    font-weight: 600;
    
}
.text_4{
    color:#5782bb;
    font-weight: 600;

}
